PORT=5000
MONGODB_URI=mongodb+srv://Meet_1:Meet.%40123@coding.dr251cx.mongodb.net/familyconnect?retryWrites=true&w=majority&appName=Coding
JWT_SECRET=familyconnect_jwt_secret_hackathon_2026
JWT_EXPIRES_IN=30d
